*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* section sony */

.at_header_logo{
    width: 100%;
    height: 45px;
    background-color: black;
}

.at_header_logo_img{
    height: 20px;
}

/* section nav  */


/* section jumbo  */

.at_jumbo_bg{
    height: 600px;
    background-image: url("img /jumbo-bg.png");
    background-size:cover;
    background-position: center;
}

.at_jumbo_title{
    width: 100%;   
}

.at_jumbo_content{
   color: white;
}

.buttons{
    color: white;
    background-color: tomato;
    border-radius:20px;
    padding: 2px;
}

.at_plays img{
    width: 100%;
    border-radius: 30px;
}

/* section 6 img  */

/* section ps5 1 */
.blue{
    text-decoration: none;
}

.at_text_gray{
    color: gray;
}

/* section Ps5 2 */

.at_button_blue{
    background-color: rgb(0, 112, 209);
    padding: 5px;
    border-radius: 25px;
    color: white;
    text-decoration: none;
}

.at_main_ps5 img{
    width: 100%;
}

/* <!-- section Ps5 3 --> */

.at_thumbs{
    width: 100%;
}

.at_thumb_border{
  border-bottom: 2px solid rgb(0, 112, 209);
}

/* section takes two  */

.at_jumbo_bg_two{
    height: 600px;
    background-image: url("img /it-takes-two-hero-banner-desktop.jpg");
    background-size:cover;
    background-position: center;
}

/* section plays */

.at_bg_plays{
    background-color: black;
    color: white;
}

/* section ps4 */

.at_img_ps4{
  width: 100%;
}

/* section ps plus  */
.at_bg_gray{
  background-color: lightgray;
}

.at_psplus{
  width: 100%;
}

.at_button_transparent{
background-color: rgba(128, 128, 128 ,0.5);
padding: 5px;
border-radius: 25px;
color:rgb(0, 112, 209);
text-decoration: none;
}

/* section ps now  */

.at_now_bg{
    background-color: rgb(6, 26, 64);
    color: white;
}

.at_pshome_img{
    width: 100%;
}

.at_button_now{   
font-size: 20px;    
background-color: white;
padding: 7px;
border-radius: 25px;
color:black;
}

